.todo-list-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    cursor: pointer;
    position: relative;
    margin-bottom: 8px;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.todo-item:hover {
    background-color: #555;
}

.completed {
    background-color: rgba(250, 0, 0, 0.17);
    border: 1px solid rgba(250, 0, 0, 0.17);
    text-decoration: line-through;
}
.completed:hover {
    background-color: rgba(250, 0, 0, 0.38);
}

.add-todo-container {
    margin-top: 16px;
}

.todo-input {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 14px;
    background-color: #444;
    color: white;
}

.add-button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #45a049;
}

.delete-button {
    cursor: pointer;
    position: absolute;
    right: 5px;
    font-size: 16px;
    color: #ff5555;
}

.refresh {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    transition: transform .25s linear;
    position: absolute;
    right: 5px;
}

.refresh.rotate {
    transform: rotate(360deg);
}