.album-list-container {
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.album-list-item {
    margin-bottom: 10px;
}

.album-list-link {
    color: #008cba;
}

.album-list-link:hover {
    text-decoration: underline;
}